In [41]:
import pandas as pd
import numpy as np
import datetime

In [42]:
TotalCases = pd.read_csv("https://docs.google.com/spreadsheets/d/1jS24DjSPVWa4iuxuD4OAXrE3QeI8c9BC1hSlqr-NMiU/export?format=csv&gid=0")

In [107]:
LineList= pd.read_csv("https://docs.google.com/spreadsheets/d/1jS24DjSPVWa4iuxuD4OAXrE3QeI8c9BC1hSlqr-NMiU/export?format=csv&gid=1187587451")

In [44]:
ProvinceIncidence= pd.read_csv("https://docs.google.com/spreadsheets/d/1jS24DjSPVWa4iuxuD4OAXrE3QeI8c9BC1hSlqr-NMiU/export?format=csv&gid=1837322948")

In [45]:
IncidentLog = pd.read_csv("https://docs.google.com/spreadsheets/d/1jS24DjSPVWa4iuxuD4OAXrE3QeI8c9BC1hSlqr-NMiU/export?format=csv&gid=1202885709")

In [46]:
IncidentLogSecond= pd.read_csv("https://docs.google.com/spreadsheets/d/1jS24DjSPVWa4iuxuD4OAXrE3QeI8c9BC1hSlqr-NMiU/export?format=csv&gid=1180262595")

In [47]:
TotalCases.head(5)

,Province,Confirmed,Suspected,Death,Recovered,Link,Comments
0,Total,40315.0,23589.0,909.0,3471.0,http://3g.dxy.cn/newh5/view/pneumonia,NaN
1,Hubei,29631.0,NaN,NaN,NaN,NaN,NaN
2,Guangdong,1159.0,NaN,NaN,NaN,NaN,NaN
3,Zhejiang,1092.0,NaN,NaN,NaN,NaN,NaN
4,Henan,1073.0,NaN,NaN,NaN,NaN,NaN

In [108]:
LineList.head(5)

,Email,Unnamed: 1,contact.sunky@gmail.com,Unnamed: 3,Email was incorrect before,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19
0,id,case_in_country,reporting date,summary,location,country,gender,age,symptom_onset,If_onset_approximated,hosp_visit_date,exposure_start,exposure_end,visiting Wuhan,from Wuhan,death,recovered,symptom,source,link
1,1,NaN,1/20/2020,First confirmed imported COVID-19 pneumonia pa...,"Shenzhen, Guangdong",China,male,66,1/3/2020,0,1/11/2020,12/29/2019,1/4/2020,1,0,0,0,NaN,Shenzhen Municipal Health Commission,http://wjw.sz.gov.cn/wzx/202001/t20200120_1898...
2,2,NaN,1/20/2020,First confirmed imported COVID-19 pneumonia pa...,Shanghai,China,female,56,1/15/2020,0,1/15/2020,NaN,1/12/2020,0,1,0,0,NaN,Official Weibo of Shanghai Municipal Health Co...,https://www.weibo.com/2372649470/IqogQhgfa?fro...
3,3,NaN,1/21/2020,First confirmed imported cases in Zhejiang: pa...,Zhejiang,China,male,46,1/4/2020,0,1/17/2020,NaN,1/3/2020,0,1,0,0,NaN,Health Commission of Zhejiang Province,http://www.zjwjw.gov.cn/art/2020/1/21/art_1202...
4,4,NaN,1/21/2020,new confirmed imported COVID-19 pneumonia in T...,Tianjin,China,female,60,NaN,NaN,1/19/2020,NaN,NaN,1,0,0,0,NaN,人民日报官方微博,https://m.weibo.cn/status/4463235401268457?

In [109]:
# Dropping columns 
LineList.head(5)
LineList.drop(columns=["Email","Unnamed: 3","Email was incorrect before","Unnamed: 18","Unnamed: 19"] ,axis=1, inplace=True)

In [110]:
LineList.head(5)

,Unnamed: 1,contact.sunky@gmail.com,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17
0,case_in_country,reporting date,country,gender,age,symptom_onset,If_onset_approximated,hosp_visit_date,exposure_start,exposure_end,visiting Wuhan,from Wuhan,death,recovered,symptom
1,NaN,1/20/2020,China,male,66,1/3/2020,0,1/11/2020,12/29/2019,1/4/2020,1,0,0,0,NaN
2,NaN,1/20/2020,China,female,56,1/15/2020,0,1/15/2020,NaN,1/12/2020,0,1,0,0,NaN
3,NaN,1/21/2020,China,male,46,1/4/2020,0,1/17/2020,NaN,1/3/2020,0,1,0,0,NaN
4,NaN,1/21/2020,China,female,60,NaN,NaN,1/19/2020,NaN,NaN,1,0,0,0,NaN

In [49]:
# Renaming columns

In [111]:
LineList = LineList.rename(columns={"Unamed: 1": "Case In Country","Unnamed: 5": "Country","contact.sunky@gmail.com": "reporting date","Email was incorrect before": "location","Unnamed: 5": "country","Unnamed: 6":"gender", "Unnamed: 7":"age","Unnamed: 8": "symptom_onset", "Unnamed: 9":"If_onset_approximated","Unnamed: 10": "hosp_visit_date","Unnamed: 11":"exposure_start","Unnamed: 12": "exposure_end", "Unnamed: 13":"visiting Wuhan","Unnamed: 14":"from Wuhan","Unnamed: 15": "death","Unnamed: 16": "recovered","Unnamed: 17": "sympton"})

In [112]:
LineList.head(5)

,Unnamed: 1,reporting date,country,gender,age,symptom_onset,If_onset_approximated,hosp_visit_date,exposure_start,exposure_end,visiting Wuhan,from Wuhan,death,recovered,sympton
0,case_in_country,reporting date,country,gender,age,symptom_onset,If_onset_approximated,hosp_visit_date,exposure_start,exposure_end,visiting Wuhan,from Wuhan,death,recovered,symptom
1,NaN,1/20/2020,China,male,66,1/3/2020,0,1/11/2020,12/29/2019,1/4/2020,1,0,0,0,NaN
2,NaN,1/20/2020,China,female,56,1/15/2020,0,1/15/2020,NaN,1/12/2020,0,1,0,0,NaN
3,NaN,1/21/2020,China,male,46,1/4/2020,0,1/17/2020,NaN,1/3/2020,0,1,0,0,NaN
4,NaN,1/21/2020,China,female,60,NaN,NaN,1/19/2020,NaN,NaN,1,0,0,0,NaN

In [113]:
LineList.drop(0, inplace = True)

In [114]:
LineList.head(5)

,Unnamed: 1,reporting date,country,gender,age,symptom_onset,If_onset_approximated,hosp_visit_date,exposure_start,exposure_end,visiting Wuhan,from Wuhan,death,recovered,sympton
1,NaN,1/20/2020,China,male,66,1/3/2020,0,1/11/2020,12/29/2019,1/4/2020,1,0,0,0,NaN
2,NaN,1/20/2020,China,female,56,1/15/2020,0,1/15/2020,NaN,1/12/2020,0,1,0,0,NaN
3,NaN,1/21/2020,China,male,46,1/4/2020,0,1/17/2020,NaN,1/3/2020,0,1,0,0,NaN
4,NaN,1/21/2020,China,female,60,NaN,NaN,1/19/2020,NaN,NaN,1,0,0,0,NaN
5,NaN,1/21/2020,China,male,58,NaN,NaN,1/14/2020,NaN,NaN,0,0,0,0,NaN

In [116]:
#Converting fields to dates
#LineList['reporting date']= pd.to_datetime(LineList['reporting date'])
LineList[['reporting date','symptom_onset','hosp_visit_date','exposure_start','exposure_end']] = LineList[['reporting date','symptom_onset','hosp_visit_date','exposure_start','exposure_end']].apply(pd.to_datetime)

In [117]:
LineList.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 891 entries, 1 to 891
Data columns (total 15 columns):
Unnamed: 1               694 non-null object
reporting date           889 non-null datetime64[ns]
country                  874 non-null object
gender                   750 non-null object
age                      723 non-null object
symptom_onset            496 non-null datetime64[ns]
If_onset_approximated    495 non-null object
hosp_visit_date          442 non-null datetime64[ns]
exposure_start           111 non-null datetime64[ns]
exposure_end             319 non-null datetime64[ns]
visiting Wuhan           874 non-null object
from Wuhan               870 non-null object
death                    874 non-null object
recovered                874 non-null object
sympton                  207 non-null object
dtypes: datetime64[ns](5), object(10)
memory usage: 111.4+ KB

In [105]:
LineList.head()

,Email,Unnamed: 1,reporting date,Unnamed: 3,location,country,gender,age,symptom_onset,If_onset_approximated,hosp_visit_date,exposure_start,exposure_end,visiting Wuhan,from Wuhan,death,recovered,sympton,Unnamed: 18,Unnamed: 19
1,1,NaN,2020-01-20,First confirmed imported COVID-19 pneumonia pa...,"Shenzhen, Guangdong",China,male,66,2020-01-03,0,2020-01-11,2019-12-29,2020-01-04,1,0,0,0,NaN,Shenzhen Municipal Health Commission,http://wjw.sz.gov.cn/wzx/202001/t20200120_1898...
2,2,NaN,2020-01-20,First confirmed imported COVID-19 pneumonia pa...,Shanghai,China,female,56,2020-01-15,0,2020-01-15,NaT,2020-01-12,0,1,0,0,NaN,Official Weibo of Shanghai Municipal Health Co...,https://www.weibo.com/2372649470/IqogQhgfa?fro...
3,3,NaN,2020-01-21,First confirmed imported cases in Zhejiang: pa...,Zhejiang,China,male,46,2020-01-04,0,2020-01-17,NaT,2020-01-03,0,1,0,0,NaN,Health Commission of Zhejiang Province,http://www.zjwjw.gov.cn/art/2020/1/21/art_1202...
4,4,NaN,2020-01-21,new confirmed imported COVID-19 pneumonia in T...,Tianjin,China,female,60,NaT,NaN,2020-01-19,NaT,NaT,1,0,0,0,NaN,人民日报官方微博,https://m.weibo.cn/status/4463235401268457?
5,5,NaN,2020-01-21,new confirmed imported COVID-19 pneumonia in T...,Tianjin,China,male,58,NaT,NaN,2020-01-14,NaT,NaT,0,0,0,0,NaN,人民日报官方微博,https://m.weibo.cn/status/4463235401268457?

In [ ]:
LineList.info()

In [ ]:
LineList.describe()

In [ ]:
ProvinceIncidence.head(5)

In [ ]:
IncidentLog.head(5)

In [ ]:
IncidentLogSecond.head(5)