In [1]:
import pandas as pd
import numpy as np

In [2]:
TotalCases = pd.read_csv("https://docs.google.com/spreadsheets/d/1jS24DjSPVWa4iuxuD4OAXrE3QeI8c9BC1hSlqr-NMiU/export?format=csv&gid=0")

In [3]:
LineList= pd.read_csv("https://docs.google.com/spreadsheets/d/1jS24DjSPVWa4iuxuD4OAXrE3QeI8c9BC1hSlqr-NMiU/export?format=csv&gid=1187587451")

In [4]:
ProvinceIncidence= pd.read_csv("https://docs.google.com/spreadsheets/d/1jS24DjSPVWa4iuxuD4OAXrE3QeI8c9BC1hSlqr-NMiU/export?format=csv&gid=1837322948")

In [5]:
IncidentLog = pd.read_csv("https://docs.google.com/spreadsheets/d/1jS24DjSPVWa4iuxuD4OAXrE3QeI8c9BC1hSlqr-NMiU/export?format=csv&gid=1202885709")

In [6]:
IncidentLogSecond= pd.read_csv("https://docs.google.com/spreadsheets/d/1jS24DjSPVWa4iuxuD4OAXrE3QeI8c9BC1hSlqr-NMiU/export?format=csv&gid=1180262595")

In [7]:
TotalCases

,Province,Confirmed,Suspected,Death,Recovered,Link,Comments
0,Total,40280.0,23589.0,909.0,3471.0,http://3g.dxy.cn/newh5/view/pneumonia,NaN
1,Hubei,29631.0,NaN,NaN,NaN,NaN,NaN
2,Guangdong,1159.0,NaN,NaN,NaN,NaN,NaN
3,Zhejiang,1092.0,NaN,NaN,NaN,NaN,NaN
4,Henan,1073.0,NaN,NaN,NaN,NaN,NaN
5,Hunan,879.0,NaN,NaN,NaN,NaN,NaN
6,Anhui,830.0,NaN,NaN,NaN,NaN,NaN
7,Jiangxi,771.0,NaN,NaN,NaN,NaN,NaN
8,Jiangsu,492.0,NaN,NaN,NaN,NaN,NaN
9,Chongqing,473.0,NaN,NaN,NaN,NaN,NaN
10,Shandong,466.0,NaN,NaN,NaN,NaN,NaN
11,Sichuan,405.0,NaN,NaN,NaN,NaN,NaN
12,Beijing,337.0,NaN,NaN,NaN,NaN,NaN
13,Heilongjiang,331.0,NaN,NaN,NaN,NaN,NaN
14,Shanghai,299.0,NaN,NaN,NaN,NaN,NaN
15,Fujian,261.0,NaN,NaN,NaN,NaN,NaN
16,Hebei,218.0,NaN,NaN,NaN,NaN,NaN
17,Shaanxi,213.0,NaN,NaN,NaN,NaN,NaN
18,Guangxi,210.0,NaN,NaN,NaN,NaN,NaN
19,Yunnan,149.0,NaN,NaN,NaN,NaN,NaN
20,Hainan,138.0,NaN,NaN,NaN,NaN,NaN
21,Shanxi,119.0,NaN,NaN,NaN,NaN,NaN
22,Guizhou,109.0,NaN,NaN,NaN,NaN,NaN
23,Liaoning,108.0,NaN,NaN,NaN,NaN,NaN
24,Tianjin,94.0,NaN,NaN,NaN,NaN,NaN
25,Gansu,83.0,NaN,NaN,NaN,NaN,NaN
26,Jilin,80.0,NaN,NaN,NaN,NaN,NaN
27,Inner Mongolia,58.0,NaN,NaN,NaN,NaN,NaN
28,Ningxia,49.0,NaN,NaN,NaN,NaN,NaN
29,Xinjiang,49.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
32,Qinghai,18.0,NaN,NaN,NaN,NaN,NaN
33,Macau,10.0,NaN,NaN,NaN,NaN,NaN
34,Tibet,1.0,NaN,NaN,NaN,NaN,NaN
35,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,France,11.0,NaN,NaN,NaN,NaN,NaN
37,Japan,25.0,NaN,NaN,NaN,NaN,NaN
38,Malaysia,18.0,NaN,NaN,NaN,NaN,NaN
39,Nepal,1.0,NaN,NaN,NaN,NaN,NaN
40,Singapore,72.0,NaN,NaN,NaN,NaN,NaN
41,South Korea,28.0,NaN,NaN,NaN,NaN,NaN
42,Thailand,33.0,NaN,NaN,NaN,NaN,NaN
43,US,13.0,NaN,NaN,NaN,NaN,NaN
44,Vietnam,15.0,NaN,NaN,NaN,NaN,NaN
45,Australia,15.0,NaN,NaN,NaN,NaN,NaN
46,Canada,4.0,NaN,NaN,NaN,NaN,NaN
47,Cambodia,1.0,NaN,NaN,NaN,NaN,NaN
48,Germany,16.0,NaN,NaN,NaN,NaN,NaN
49,UAE,8.0,NaN,NaN,NaN,NaN,NaN
50,Taiwan,18.0,NaN,NaN,NaN,NaN,NaN
51,Italy,3.0,NaN,NaN,NaN,NaN,NaN
52,Russia,2.0,NaN,NaN,NaN,NaN,NaN
53,UK,8.0,NaN,NaN,NaN,NaN,NaN
54,India,3.0,NaN,NaN,NaN,NaN,NaN
55,Phillipines,2.0,NaN,NaN,NaN,NaN,NaN
56,Finland,1.0,NaN,NaN,NaN,NaN,NaN
57,Spain,1.0,NaN,NaN,NaN,NaN,NaN
58,Sweden,1.0,NaN,NaN,NaN,NaN,NaN
59,Other (cruise ship),355.0,NaN,NaN,NaN,NaN,NaN
60,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61,Total,654.0,NaN,NaN,NaN,NaN,NaN