In [86]:
# String formating

In [87]:
num = 12
name = " Sam"

In [88]:
print("My number is {} and the name is {}".format(num,name))

My number is 12 and the name is  Sam

In [89]:
print("My number is {one} and the name is {two} annd a test {one}".format(one =num, two=name))

My number is 12 and the name is  Sam annd a test 12

In [90]:
s = "hello"
s[0]

'h'

In [91]:
s[4]
s ="asdasfsdfsdf"

In [92]:
s

'asdasfsdfsdf'

In [93]:
s[0:4]

'asda'

In [94]:
s[:4]

'asda'

In [95]:
#List

In [96]:
[1,2,3]
my_list= ['a','b','c']
my_list.append('d')

In [97]:
my_list

['a', 'b', 'c', 'd']

In [98]:
my_list[0]

'a'

In [99]:
my_list[1:]

['b', 'c', 'd']

In [100]:
#List

In [101]:
my_list[0:2]

['a', 'b']

In [102]:
my_list[0] = "new"

In [103]:
nest = [1,2,[3,4]]

In [104]:
nest

[1, 2, [3, 4]]

In [105]:
nest[2][1]

4

In [106]:
nest = [1,2,3,[4,5,['target']]]

In [107]:
nest

[1, 2, 3, [4, 5, ['target']]]

In [108]:
nest[3][1]

5

In [109]:
nest[3][2]

['target']

In [110]:
# Diccionaries

In [111]:
d = {'key1': 'value','key2':123}

In [112]:
d

{'key1': 'value', 'key2': 123}

In [113]:
d['key1']

'value'

In [114]:
d = {'k1':[1,2,3]}

In [115]:
d

{'k1': [1, 2, 3]}

In [116]:
d['k1']

[1, 2, 3]

In [117]:
d['k1'][1]

2

In [118]:
d = {'k1':{'innerkey':[1,2,3]}}

In [119]:
d

{'k1': {'innerkey': [1, 2, 3]}}

In [120]:
d['k1']['innerkey']

[1, 2, 3]

In [121]:
d['k1']['innerkey'][1]

2

In [122]:
#Tuples

In [123]:
t= (1,2,3)

In [124]:
my_list = [1,2,3]

In [125]:
t[0]

1

In [126]:
my_list[0]= 'NEW'

In [127]:
my_list

['NEW', 2, 3]

In [128]:
#Set

In [129]:
{1,2,3}

{1, 2, 3}

In [130]:
{1,1,2,2,3,3}

{1, 2, 3}

In [131]:
set([1,1,2,2,3,3,])

{1, 2, 3}

In [132]:
s = {1,2,3}

In [133]:
s.add(5)

In [134]:
s

{1, 2, 3, 5}

In [135]:
s.__class__()

set()

In [136]:
s.add(5)

In [137]:
s

{1, 2, 3, 5}

In [138]:
# comparators

In [139]:
1 > 5

False

In [140]:
1 < 5

True

In [141]:
1 <= 1

True

In [142]:
1 == 1

True

In [143]:
1 == 2

False

In [144]:
1 != 1

False

In [145]:
'hi' == 'bye'

False

In [146]:
'hi' != 'bye'

True

In [147]:
1 < 2 and 2 < 3

True

In [148]:
(1 < 2) and (2 > 3)

False

In [149]:
(1 < 2) or (2 > 3) or ( 1 == 1 )

True

In [150]:
True and False

False

In [151]:
True or False

True

In [152]:
# Code blocks

In [153]:
if 1 < 2:
    print('yep')

yep

In [154]:
if 1 == 2:
    print('first')
elif 4 == 4:
        print("Second")
elif 3 == 3:
        print("middle")
else:
    print('last')

Second

In [155]:
seq = [1,2,3,4,5]

In [156]:
for item in seq:
    print(item)

1
2
3
4
5

In [157]:
i = 1

while i < 5:
    print('i is: {}'.format(i))
    i = i + 1

i is: 1
i is: 2
i is: 3
i is: 4

In [158]:
for x in seq:
    print(x)

1
2
3
4
5

In [159]:
range(0,5)

range(0, 5)

In [160]:
for x in range(0,5):
    print(x)

0
1
2
3
4

In [161]:
list(range(0,5))

[0, 1, 2, 3, 4]

In [162]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [163]:
x = [1,2,3,4]

In [164]:
out = []

In [165]:
for num in x:
    out.append(num**2)

In [166]:
print(out)

[1, 4, 9, 16]

In [167]:
out =[num ** 2 for num in x]

In [168]:
 # Functions
 def my_func(param1):
     print(param1)

In [169]:
my_func("hello")

hello

In [170]:
 def my_func(name):
     print("hello  " + name)

In [171]:
my_func("jose")

hello  jose

In [172]:
 def my_func(name = "Default Name"):
     print("hello  " + name)

In [173]:

my_func(name="jose")
#my_func(name="jose")

hello  jose

In [174]:
my_func

In [4]:
def square(num):
    """ 
This is a docstring
this function squares a number
    """
    return num ** 2

In [6]:
output = square(2)

In [7]:
output

4

In [8]:
square(2)

4

In [0]:
square(2)

In [12]:
# Advanced fuctions

def times2(var):
    return var * 2

In [11]:
# Map and lanmbda

In [13]:
seq = [1,2,3,4,5]

In [15]:
map(times2,seq)

In [16]:
list(map(times2,seq))

[2, 4, 6, 8, 10]

In [20]:
t = lambda var: var * 2

In [21]:
t(6)

12

In [22]:
list(map(lambda var: var * 3,seq))

[3, 6, 9, 12, 15]

In [23]:
# Filter

filter( lambda num:num%2 == 0, seq)

In [24]:
list(filter( lambda num:num%2 == 0, seq))

[2, 4]

In [25]:
# Methods

In [26]:
S = 'Hello my name is Sam   '

In [27]:
S.lower()

'hello my name is sam   '

In [28]:
S.split()

['Hello', 'my', 'name', 'is', 'Sam']

In [29]:
tweet = "Go to a #Test"

In [31]:
tweet.split('#')

['Go to a ', 'Test']

In [32]:
tweet.split('#')[1]

'Test'

In [35]:
d = {'k1' : 1, 'k2' : 2}

In [36]:
d.items()
d.values()
d.pop()

TypeError: pop expected at least 1 arguments, got 0

In [37]:
'X' in [1,2,3]

False

In [38]:
'x' in ['x','y','z']

True

In [39]:
# Tuple unpacking

X= [(1,2),(3,4),(5,6)]

In [40]:
for item in X:
    print(item)

(1, 2)
(3, 4)
(5, 6)

In [41]:
for (a,b) in X:
    print(item)

(5, 6)
(5, 6)
(5, 6)

In [44]:
for (a,b) in X:
    print(a)
    print(b)

1
2
3
4
5
6