In [51]:
import pandas as pd
import numpy as np
import datetime 
import statistics

In [25]:
TotalCases = pd.read_csv("https://docs.google.com/spreadsheets/d/1jS24DjSPVWa4iuxuD4OAXrE3QeI8c9BC1hSlqr-NMiU/export?format=csv&gid=0")

In [26]:
LineList= pd.read_csv("https://docs.google.com/spreadsheets/d/1jS24DjSPVWa4iuxuD4OAXrE3QeI8c9BC1hSlqr-NMiU/export?format=csv&gid=1187587451")

In [27]:
ProvinceIncidence= pd.read_csv("https://docs.google.com/spreadsheets/d/1jS24DjSPVWa4iuxuD4OAXrE3QeI8c9BC1hSlqr-NMiU/export?format=csv&gid=1837322948")

In [28]:
IncidentLog = pd.read_csv("https://docs.google.com/spreadsheets/d/1jS24DjSPVWa4iuxuD4OAXrE3QeI8c9BC1hSlqr-NMiU/export?format=csv&gid=1202885709")

In [29]:
IncidentLogSecond= pd.read_csv("https://docs.google.com/spreadsheets/d/1jS24DjSPVWa4iuxuD4OAXrE3QeI8c9BC1hSlqr-NMiU/export?format=csv&gid=1180262595")

In [30]:
TotalCases.head(5)

,Province,Confirmed,Suspected,Death,Recovered,Link,Comments
0,Total,40315.0,23589.0,909.0,3471.0,http://3g.dxy.cn/newh5/view/pneumonia,NaN
1,Hubei,29631.0,NaN,NaN,NaN,NaN,NaN
2,Guangdong,1159.0,NaN,NaN,NaN,NaN,NaN
3,Zhejiang,1092.0,NaN,NaN,NaN,NaN,NaN
4,Henan,1073.0,NaN,NaN,NaN,NaN,NaN

In [31]:
LineList.head(5)

,Email,Unnamed: 1,contact.sunky@gmail.com,Unnamed: 3,Email was incorrect before,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19
0,id,case_in_country,reporting date,summary,location,country,gender,age,symptom_onset,If_onset_approximated,hosp_visit_date,exposure_start,exposure_end,visiting Wuhan,from Wuhan,death,recovered,symptom,source,link
1,1,NaN,1/20/2020,First confirmed imported COVID-19 pneumonia pa...,"Shenzhen, Guangdong",China,male,66,1/3/2020,0,1/11/2020,12/29/2019,1/4/2020,1,0,0,0,NaN,Shenzhen Municipal Health Commission,http://wjw.sz.gov.cn/wzx/202001/t20200120_1898...
2,2,NaN,1/20/2020,First confirmed imported COVID-19 pneumonia pa...,Shanghai,China,female,56,1/15/2020,0,1/15/2020,NaN,1/12/2020,0,1,0,0,NaN,Official Weibo of Shanghai Municipal Health Co...,https://www.weibo.com/2372649470/IqogQhgfa?fro...
3,3,NaN,1/21/2020,First confirmed imported cases in Zhejiang: pa...,Zhejiang,China,male,46,1/4/2020,0,1/17/2020,NaN,1/3/2020,0,1,0,0,NaN,Health Commission of Zhejiang Province,http://www.zjwjw.gov.cn/art/2020/1/21/art_1202...
4,4,NaN,1/21/2020,new confirmed imported COVID-19 pneumonia in T...,Tianjin,China,female,60,NaN,NaN,1/19/2020,NaN,NaN,1,0,0,0,NaN,人民日报官方微博,https://m.weibo.cn/status/4463235401268457?

In [32]:
# Dropping columns 
LineList.head(5)
LineList.drop(columns=["Email","Unnamed: 3","Email was incorrect before","Unnamed: 18","Unnamed: 19"] ,axis=1, inplace=True)

In [33]:
LineList.head(5)

,Unnamed: 1,contact.sunky@gmail.com,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17
0,case_in_country,reporting date,country,gender,age,symptom_onset,If_onset_approximated,hosp_visit_date,exposure_start,exposure_end,visiting Wuhan,from Wuhan,death,recovered,symptom
1,NaN,1/20/2020,China,male,66,1/3/2020,0,1/11/2020,12/29/2019,1/4/2020,1,0,0,0,NaN
2,NaN,1/20/2020,China,female,56,1/15/2020,0,1/15/2020,NaN,1/12/2020,0,1,0,0,NaN
3,NaN,1/21/2020,China,male,46,1/4/2020,0,1/17/2020,NaN,1/3/2020,0,1,0,0,NaN
4,NaN,1/21/2020,China,female,60,NaN,NaN,1/19/2020,NaN,NaN,1,0,0,0,NaN

In [34]:
# Renaming columns

In [35]:
LineList = LineList.rename(columns={"Unamed: 1": "Case In Country","Unnamed: 5": "Country","contact.sunky@gmail.com": "reporting date","Email was incorrect before": "location","Unnamed: 5": "country","Unnamed: 6":"gender", "Unnamed: 7":"age","Unnamed: 8": "symptom_onset", "Unnamed: 9":"If_onset_approximated","Unnamed: 10": "hosp_visit_date","Unnamed: 11":"exposure_start","Unnamed: 12": "exposure_end", "Unnamed: 13":"visiting Wuhan","Unnamed: 14":"from Wuhan","Unnamed: 15": "death","Unnamed: 16": "recovered","Unnamed: 17": "sympton"})

In [36]:
LineList.head(5)

,Unnamed: 1,reporting date,country,gender,age,symptom_onset,If_onset_approximated,hosp_visit_date,exposure_start,exposure_end,visiting Wuhan,from Wuhan,death,recovered,sympton
0,case_in_country,reporting date,country,gender,age,symptom_onset,If_onset_approximated,hosp_visit_date,exposure_start,exposure_end,visiting Wuhan,from Wuhan,death,recovered,symptom
1,NaN,1/20/2020,China,male,66,1/3/2020,0,1/11/2020,12/29/2019,1/4/2020,1,0,0,0,NaN
2,NaN,1/20/2020,China,female,56,1/15/2020,0,1/15/2020,NaN,1/12/2020,0,1,0,0,NaN
3,NaN,1/21/2020,China,male,46,1/4/2020,0,1/17/2020,NaN,1/3/2020,0,1,0,0,NaN
4,NaN,1/21/2020,China,female,60,NaN,NaN,1/19/2020,NaN,NaN,1,0,0,0,NaN

In [37]:
LineList.drop(0, inplace = True)

In [38]:
LineList.head(5)

,Unnamed: 1,reporting date,country,gender,age,symptom_onset,If_onset_approximated,hosp_visit_date,exposure_start,exposure_end,visiting Wuhan,from Wuhan,death,recovered,sympton
1,NaN,1/20/2020,China,male,66,1/3/2020,0,1/11/2020,12/29/2019,1/4/2020,1,0,0,0,NaN
2,NaN,1/20/2020,China,female,56,1/15/2020,0,1/15/2020,NaN,1/12/2020,0,1,0,0,NaN
3,NaN,1/21/2020,China,male,46,1/4/2020,0,1/17/2020,NaN,1/3/2020,0,1,0,0,NaN
4,NaN,1/21/2020,China,female,60,NaN,NaN,1/19/2020,NaN,NaN,1,0,0,0,NaN
5,NaN,1/21/2020,China,male,58,NaN,NaN,1/14/2020,NaN,NaN,0,0,0,0,NaN

In [39]:
#Converting fields to dates
#LineList['reporting date']= pd.to_datetime(LineList['reporting date'])
LineList[['reporting date','symptom_onset','hosp_visit_date','exposure_start','exposure_end']] = LineList[['reporting date','symptom_onset','hosp_visit_date','exposure_start','exposure_end']].apply(pd.to_datetime)

In [40]:
LineList.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 891 entries, 1 to 891
Data columns (total 15 columns):
Unnamed: 1               694 non-null object
reporting date           889 non-null datetime64[ns]
country                  874 non-null object
gender                   750 non-null object
age                      723 non-null object
symptom_onset            496 non-null datetime64[ns]
If_onset_approximated    495 non-null object
hosp_visit_date          442 non-null datetime64[ns]
exposure_start           111 non-null datetime64[ns]
exposure_end             319 non-null datetime64[ns]
visiting Wuhan           874 non-null object
from Wuhan               870 non-null object
death                    874 non-null object
recovered                874 non-null object
sympton                  207 non-null object
dtypes: datetime64[ns](5), object(10)
memory usage: 111.4+ KB

In [41]:
LineList.head()

,Unnamed: 1,reporting date,country,gender,age,symptom_onset,If_onset_approximated,hosp_visit_date,exposure_start,exposure_end,visiting Wuhan,from Wuhan,death,recovered,sympton
1,NaN,2020-01-20,China,male,66,2020-01-03,0,2020-01-11,2019-12-29,2020-01-04,1,0,0,0,NaN
2,NaN,2020-01-20,China,female,56,2020-01-15,0,2020-01-15,NaT,2020-01-12,0,1,0,0,NaN
3,NaN,2020-01-21,China,male,46,2020-01-04,0,2020-01-17,NaT,2020-01-03,0,1,0,0,NaN
4,NaN,2020-01-21,China,female,60,NaT,NaN,2020-01-19,NaT,NaT,1,0,0,0,NaN
5,NaN,2020-01-21,China,male,58,NaT,NaN,2020-01-14,NaT,NaT,0,0,0,0,NaN

In [63]:
LineList.shape

(891, 15)

In [66]:
LineList.isna().sum()

Unnamed: 1               197
reporting date             2
country                   17
gender                   141
age                      168
symptom_onset            395
If_onset_approximated    396
hosp_visit_date          449
exposure_start           780
exposure_end             572
visiting Wuhan            17
from Wuhan                21
death                     17
recovered                 17
sympton                  684
dtype: int64

In [42]:
LineList.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 891 entries, 1 to 891
Data columns (total 15 columns):
Unnamed: 1               694 non-null object
reporting date           889 non-null datetime64[ns]
country                  874 non-null object
gender                   750 non-null object
age                      723 non-null object
symptom_onset            496 non-null datetime64[ns]
If_onset_approximated    495 non-null object
hosp_visit_date          442 non-null datetime64[ns]
exposure_start           111 non-null datetime64[ns]
exposure_end             319 non-null datetime64[ns]
visiting Wuhan           874 non-null object
from Wuhan               870 non-null object
death                    874 non-null object
recovered                874 non-null object
sympton                  207 non-null object
dtypes: datetime64[ns](5), object(10)
memory usage: 111.4+ KB

In [58]:
LineList.head(5)

,Unnamed: 1,reporting date,country,gender,age,symptom_onset,If_onset_approximated,hosp_visit_date,exposure_start,exposure_end,visiting Wuhan,from Wuhan,death,recovered,sympton
1,NaN,2020-01-20,China,male,66,2020-01-03,0,2020-01-11,2019-12-29,2020-01-04,1,0,0,0,NaN
2,NaN,2020-01-20,China,female,56,2020-01-15,0,2020-01-15,NaT,2020-01-12,0,1,0,0,NaN
3,NaN,2020-01-21,China,male,46,2020-01-04,0,2020-01-17,NaT,2020-01-03,0,1,0,0,NaN
4,NaN,2020-01-21,China,female,60,NaT,NaN,2020-01-19,NaT,NaT,1,0,0,0,NaN
5,NaN,2020-01-21,China,male,58,NaT,NaN,2020-01-14,NaT,NaT,0,0,0,0,NaN

In [94]:
LineListComplete= LineList.dropna()
symptondf= LineList[LineList['sympton'].notnull()]

In [95]:
#Data Frame to use
symptondf

,Unnamed: 1,reporting date,country,gender,age,symptom_onset,If_onset_approximated,hosp_visit_date,exposure_start,exposure_end,visiting Wuhan,from Wuhan,death,recovered,sympton
195,NaN,2020-01-27,China,female,28,2020-01-07,0,2020-01-10,NaT,NaT,0,1,0,1,"feaver, cough, difficult in breathing"
196,NaN,2020-01-27,China,female,51,NaT,NaN,2020-01-11,NaT,NaT,0,1,0,1,"feaver, cough, difficult in breathing"
197,NaN,2020-01-27,China,male,37,NaT,NaN,2020-01-17,NaT,NaT,0,1,0,1,fever
210,1,2020-01-15,Japan,male,35,2020-01-03,0,2020-01-06,NaT,2020-01-06,1,0,0,1/15/2020,fever
214,5,2020-01-28,Japan,male,45,2020-01-22,0,2020-01-26,NaT,2020-01-20,0,1,0,0,fever
215,6,2020-01-28,Japan,male,65,2020-01-14,0,2020-01-17,2020-01-08,2020-01-16,0,0,0,0,"cough, chills, joint pain"
216,7,2020-01-28,Japan,female,45,2020-01-26,0,2020-01-27,NaT,2020-01-21,1,1,0,0,"fever, cough"
217,8,2020-01-29,Japan,female,45,2020-01-20,0,2020-01-20,2020-01-12,2020-01-17,0,0,0,0,"fever, cough"
218,9,2020-01-30,Japan,male,55,2020-01-29,0,NaT,NaT,2020-01-29,0,1,0,0,"throat pain, fever"
219,10,2020-01-30,Japan,male,55,2020-01-25,0,2020-01-27,2019-12-24,2020-01-13,1,0,0,0,fever
220,11,2020-01-30,Japan,female,35,2020-01-24,0,2020-01-24,2020-01-19,2020-01-20,1,0,0,0,"fever, cough"
221,12,2020-01-30,Japan,female,25,2020-01-23,0,2020-01-28,2020-01-17,2020-01-18,1,0,0,0,fever
224,15,2020-02-01,Japan,male,45,2020-01-26,0,2020-01-30,NaT,2020-01-31,1,0,0,0,"fever, cough"
226,17,2020-02-04,Japan,female,35,2020-01-30,0,2020-01-31,NaT,NaT,0,1,0,0,"fever, runny nose"
227,18,2020-02-04,Japan,female,55,2020-01-31,0,2020-01-31,2020-01-19,2020-01-19,1,0,0,0,"fever, cough"
228,19,2020-02-04,Japan,male,55,2020-01-25,0,2020-01-26,NaT,2020-01-22,0,1,0,0,fever
230,21,2020-02-05,Japan,male,25,2020-01-24,0,2020-01-27,NaT,NaT,0,0,0,0,fever
233,24,2020-02-10,Japan,male,45,2020-02-08,0,2020-02-10,NaT,2020-01-30,1,0,0,0,fever
234,25,2020-02-10,Japan,male,55,2020-02-07,0,2020-02-07,NaT,2020-01-30,0,1,0,0,"fever, cough"
236,27,2020-02-13,Japan,female,85,2020-01-22,0,2020-01-28,NaT,NaT,0,0,2/13/2020,0,fatigue
237,28,2020-02-13,Japan,male,75,2020-01-29,0,2020-01-29,NaT,NaT,0,0,0,0,fever
238,29,2020-02-13,Japan,male,55,2020-01-31,0,2020-02-08,NaT,NaT,0,0,0,0,"fever, abdominal pain, diarrhea"
239,30,2020-02-13,Japan,male,25,2020-02-02,0,2020-02-10,NaT,NaT,0,0,0,0,"fever, cough"
240,31,2020-02-14,Japan,male,75,2020-02-01,0,2020-02-06,NaT,NaT,0,0,0,0,"cold, fever, pneumonia"
241,32,2020-02-14,Japan,female,65,2020-02-05,0,2020-02-12,NaT,NaT,0,0,0,0,"cough, joint pain"
242,33,2020-02-14,Japan,female,55,2020-02-04,0,2020-02-07,NaT,NaT,0,0,0,0,"vomiting, diarrhea, fever, cough"
243,34,2020-02-14,Japan,male,75,2020-01-20,0,2020-01-21,NaT,NaT,0,0,0,0,"fever, loss of appetite"
244,35,2020-02-14,Japan,male,65,2020-02-03,0,2020-02-08,NaT,NaT,0,0,0,0,fever
245,36,2020-02-14,Japan,male,55,2020-01-31,0,2020-02-01,NaT,NaT,0,0,0,0,"fever, cough, malaise"
246,37,2020-02-14,Japan,male,35,2020-02-11,0,2020-02-10,NaT,NaT,0,0,0,0,fever
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
742,12,2020-01-30,Hong Kong,male,75,2020-01-22,0,2020-01-24,NaT,NaT,0,0,0,0,"cough, shortness of breath"
743,13,2020-01-31,Hong Kong,male,39,2020-01-31,0,2020-01-31,2020-01-21,2020-01-23,1,0,1,0,"myalgia, fever"
744,14,2020-02-02,Hong Kong,male,80,2020-01-19,0,2020-01-30,2020-01-10,2020-01-10,0,0,0,0,fever
745,15,2020-02-02,Hong Kong,female,72,2020-02-01,0,2020-02-01,2020-01-23,2020-01-31,0,0,0,0,"fever, cough"
746,16,2020-02-04,Hong Kong,female,64,2020-01-23,0,2020-01-23,NaT,NaT,0,0,0,0,cough
747,17,2020-02-04,Hong Kong,male,60,2020-01-22,0,2020-01-30,NaT,NaT,0,0,0,0,"fever, myalgia, shortness of breath"
748,18,2020-02-04,Hong Kong,male,25,2020-01-28,0,2020-01-29,NaT,NaT,0,0,0,2/15/2020,"cough, runny nose, diarrhea"
749,19,2020-02-05,Hong Kong,female,56,2020-02-04,0,2020-02-04,NaT,NaT,0,0,0,0,fever
750,20,2020-02-05,Hong Kong,female,28,2020-01-30,0,2020-02-04,NaT,NaT,0,0,0,0,"cough, sore throat"
751,21,2020-02-05,Hong Kong,male,56,2020-01-30,0,2020-02-01,NaT,NaT,0,0,0,0,"fever, cough, sore throat"
752,22,2020-02-06,Hong Kong,female,55,2020-02-01,0,2020-02-02,NaT,NaT,0,0,0,0,"sore throat, fever, diarrhea"
753,23,2020-02-06,Hong Kong,female,63,2020-01-26,0,2020-02-05,NaT,NaT,0,0,0,0,"cough, malaise"
754,24,2020-02-06,Hong Kong,female,65,2020-01-28,0,2020-01-29,NaT,NaT,0,0,0,0,"fever, cough"
755,25,2020-02-07,Hong Kong,male,58,2020-02-04,0,2020-02-06,NaT,2020-02-05,0,0,0,0,"fever, cough"
756,26,2020-02-07,Hong Kong,male,42,2020-02-03,0,2020-02-03,2020-01-22,2020-02-02,0,0,0,0,"fever, cough"
757,27,2020-02-09,Hong Kong,male,24,2020-01-30,0,2020-01-30,NaT,NaT,0,0,0,0,"fever, cough"
758,28,2020-02-09,Hong Kong,male,70,2020-01-30,0,2020-02-01,NaT,NaT,0,0,0,0,"cough, chills, shortness of breath, diarrhea"
780,50,2020-02-12,Hong Kong,male,51,2020-02-03,0,2020-02-10,NaT,NaT,0,0,0,0,fever
781,51,2020-02-13,Hong Kong,male,43,2020-01-29,0,2020-01-31,2020-01-30,2020-01-30,0,0,0,0,"cough, diarrhea, vomiting"
782,52,2020-02-13,Hong Kong,female,67,2020-01-31,0,2020-01-31,2020-01-26,2020-01-26,0,0,0,0,"cough, fever, chills"
783,53,2020-02-13,Hong Kong,male,37,2020-02-08,0,2020-02-09,2020-01-26,2020-01-26,0,0,0,0,fever
785,55,2020-02-14,Hong Kong,male,70,2020-02-02,0,2020-02-12,NaT,NaT,0,0,1,0,cough
787,57,2020-02-16,Hong Kong,male,54,NaT,NaN,2020-02-07,NaT,NaT,0,0,0,0,fever
788,58,2020-02-17,Hong Kong,male,69,2020-02-08,0,2020-02-08,NaT,NaT,0,0,0,0,"cough, shortness of breath"
789,59,2020-02-17,Hong Kong,male,45,2020-02-12,0,2020-02-13,NaT,NaT,0,0,0,0,"fever, sore throat"
790,60,2020-02-17,Hong Kong,female,46,2020-02-08,0,2020-02-10,NaT,NaT,0,0,0,0,"runny nose, cough"
791,61,2020-02-18,Hong Kong,female,32,2020-02-02,0,NaT,NaT,NaT,0,0,0,0,"fever, cough"
837,1,2020-02-02,Phillipines,male,44,2020-01-25,1,2020-01-25,NaT,2020-01-21,0,1,2/1/2020,0,"fever, cough, sore throat"
840,1,2020-01-29,Finland,female,32,2020-01-26,0,2020-01-28,NaT,2020-01-22,0,1,0,0,fever
843,1,2020-01-31,Sweden,female,25,2020-01-27,1,NaT,NaT,2020-01-24,1,0,0,0,cough

In [96]:
symptondf.shape

(207, 15)

In [97]:
symptondf.isna().sum()

Unnamed: 1                 3
reporting date             0
country                    0
gender                     0
age                        3
symptom_onset             13
If_onset_approximated     13
hosp_visit_date           48
exposure_start           181
exposure_end             136
visiting Wuhan             0
from Wuhan                 0
death                      0
recovered                  0
sympton                    0
dtype: int64

In [62]:
LineListComplete

,Unnamed: 1,reporting date,country,gender,age,symptom_onset,If_onset_approximated,hosp_visit_date,exposure_start,exposure_end,visiting Wuhan,from Wuhan,death,recovered,sympton
215,6,2020-01-28,Japan,male,65,2020-01-14,0,2020-01-17,2020-01-08,2020-01-16,0,0,0,0,"cough, chills, joint pain"
217,8,2020-01-29,Japan,female,45,2020-01-20,0,2020-01-20,2020-01-12,2020-01-17,0,0,0,0,"fever, cough"
219,10,2020-01-30,Japan,male,55,2020-01-25,0,2020-01-27,2019-12-24,2020-01-13,1,0,0,0,fever
220,11,2020-01-30,Japan,female,35,2020-01-24,0,2020-01-24,2020-01-19,2020-01-20,1,0,0,0,"fever, cough"
221,12,2020-01-30,Japan,female,25,2020-01-23,0,2020-01-28,2020-01-17,2020-01-18,1,0,0,0,fever
227,18,2020-02-04,Japan,female,55,2020-01-31,0,2020-01-31,2020-01-19,2020-01-19,1,0,0,0,"fever, cough"
390,19,2020-02-04,Singapore,female,28,2020-01-29,0,2020-02-03,2020-01-23,2020-01-23,0,0,0,2/22/2020,"fever, sore throat"
576,4,2020-01-27,Taiwan,female,50,2020-01-22,0,2020-01-25,2020-01-13,2020-01-15,1,0,0,0,cough
741,11,2020-01-30,Hong Kong,female,37,2020-01-28,0,2020-01-30,2020-01-22,2020-01-28,0,0,0,0,cough
743,13,2020-01-31,Hong Kong,male,39,2020-01-31,0,2020-01-31,2020-01-21,2020-01-23,1,0,1,0,"myalgia, fever"
744,14,2020-02-02,Hong Kong,male,80,2020-01-19,0,2020-01-30,2020-01-10,2020-01-10,0,0,0,0,fever
745,15,2020-02-02,Hong Kong,female,72,2020-02-01,0,2020-02-01,2020-01-23,2020-01-31,0,0,0,0,"fever, cough"
756,26,2020-02-07,Hong Kong,male,42,2020-02-03,0,2020-02-03,2020-01-22,2020-02-02,0,0,0,0,"fever, cough"
781,51,2020-02-13,Hong Kong,male,43,2020-01-29,0,2020-01-31,2020-01-30,2020-01-30,0,0,0,0,"cough, diarrhea, vomiting"
782,52,2020-02-13,Hong Kong,female,67,2020-01-31,0,2020-01-31,2020-01-26,2020-01-26,0,0,0,0,"cough, fever, chills"
783,53,2020-02-13,Hong Kong,male,37,2020-02-08,0,2020-02-09,2020-01-26,2020-01-26,0,0,0,0,fever

In [61]:
LineListComplete.shape

(16, 15)

In [101]:
# Getting days values from dates
statistics.median(LineListComplete['hosp_visit_date'] - LineListComplete['exposure_start']).days

10

In [104]:
statistics.median(LineListComplete['reporting date'] - LineListComplete['hosp_visit_date']).days

3

In [60]:
statistics.median(LineListComplete['reporting date'] - LineListComplete['exposure_end']).days

12

In [71]:
statistics.median(LineListComplete['exposure_end']- LineListComplete['exposure_start']).days

1

In [44]:
ProvinceIncidence.head(5)

         Pro  province   new  cumu
0  1/10/2020     Hubei  41.0  41.0
1  1/16/2020     Hubei   4.0  45.0
2  1/17/2020     Hubei  17.0  62.0
3  1/17/2020  Zhejiang   5.0   5.0
4  1/18/2020     Hubei  59.0   NaN

In [45]:
IncidentLog.head(5)

,id,reporting date,summary,location,country,gender,age,symptom_onset,If_onset_approximated,hosp_visit_date,type_of_visit,exposure_start,exposure_end,visiting Wuhan,from Wuhan,death,recovered,symptom,source,link
0,0.0,1/28/2020,"new confirmed COVID-19 patient in Paris, Franc...",Paris,France,male,80.0,1/25/2020,1.0,1/25/2020,hospital,NaN,1/23/2020,0.0,1.0,0.0,0.0,NaN,The Local,https://www.thelocal.de/20200128/number-of-ger...
1,1.0,1/29/2020,"new confirmed COVID-19 patient in Paris, Franc...",Paris,France,female,NaN,NaN,NaN,NaN,hospital,NaN,1/23/2020,1.0,0.0,0.0,0.0,NaN,The Local,https://www.thelocal.fr/20200131/coronavirus-i...
2,2.0,1/30/2020,"new confirmed COVID-19 patient in Japan: male,...",Tokyo,Japan,male,45.0,NaN,NaN,NaN,NaN,NaN,1/29/2020,1.0,0.0,0.0,0.0,"throat pain, fever",Bangkok Post,https://www.bangkokpost.com/world/1846939/thre...
3,3.0,1/30/2020,"new confirmed COVID-19 patient in Japan: male,...",Tokyo,Japan,male,45.0,NaN,NaN,NaN,NaN,NaN,1/29/2020,1.0,0.0,0.0,0.0,NaN,Bangkok Post,https://www.bangkokpost.com/world/1846939/thre...
4,4.0,1/30/2020,new confirmed COVID-19 patient in Japan: femal...,Tokyo,Japan,female,55.0,NaN,NaN,NaN,NaN,NaN,1/29/2020,1.0,0.0,0.0,0.0,NaN,Bangkok Post,https://www.bangkokpost.com/world/1846939/thre...

In [69]:
IncidentLogSecond.head()

,id,reporting date,summary,location,country,gender,age,symptom_onset,If_onset_approximated,hosp_visit_date,type_of_visit,exposure_start,exposure_end,visiting Wuhan,from Wuhan,death,recovered,symptom,source,link
0,NaN,02/02/2020,NaN,Beijing,China,female,42,1/30/2020,0,1/30/2020,NaN,NaN,NaN,NaN,NaN,0,0,NaN,Beijing Municipal Health Commission,http://wjw.beijing.gov.cn/xwzx_20031/wnxw/2020...
1,NaN,02/02/2020,NaN,Beijing,China,male,20,1/30/2020,0,1/31/2020,NaN,NaN,NaN,NaN,NaN,0,0,NaN,Beijing Municipal Health Commission,http://wjw.beijing.gov.cn/xwzx_20031/wnxw/2020...
2,NaN,02/02/2020,NaN,Beijing,China,female,44,1/31/2020,0,2/1/2020,NaN,NaN,NaN,NaN,NaN,0,0,NaN,Beijing Municipal Health Commission,http://wjw.beijing.gov.cn/xwzx_20031/wnxw/2020...
3,NaN,02/02/2020,NaN,Beijing,China,male,75,1/27/2020,0,1/31/2020,NaN,NaN,NaN,NaN,NaN,0,0,NaN,Beijing Municipal Health Commission,http://wjw.beijing.gov.cn/xwzx_20031/wnxw/2020...
4,NaN,02/02/2020,NaN,Beijing,China,female,43,1/30/2020,0,1/31/2020,NaN,NaN,NaN,NaN,NaN,0,0,NaN,Beijing Municipal Health Commission,http://wjw.beijing.gov.cn/xwzx_20031/wnxw/2020...

In [107]:
#IncidentLogSecond.shape

In [109]:
#IncidentLogSecond.isna().sum()

In [112]:
#IncidentLog.head()

,id,reporting date,summary,location,country,gender,age,symptom_onset,If_onset_approximated,hosp_visit_date,type_of_visit,exposure_start,exposure_end,visiting Wuhan,from Wuhan,death,recovered,symptom,source,link
0,0.0,1/28/2020,"new confirmed COVID-19 patient in Paris, Franc...",Paris,France,male,80.0,1/25/2020,1.0,1/25/2020,hospital,NaN,1/23/2020,0.0,1.0,0.0,0.0,NaN,The Local,https://www.thelocal.de/20200128/number-of-ger...
1,1.0,1/29/2020,"new confirmed COVID-19 patient in Paris, Franc...",Paris,France,female,NaN,NaN,NaN,NaN,hospital,NaN,1/23/2020,1.0,0.0,0.0,0.0,NaN,The Local,https://www.thelocal.fr/20200131/coronavirus-i...
2,2.0,1/30/2020,"new confirmed COVID-19 patient in Japan: male,...",Tokyo,Japan,male,45.0,NaN,NaN,NaN,NaN,NaN,1/29/2020,1.0,0.0,0.0,0.0,"throat pain, fever",Bangkok Post,https://www.bangkokpost.com/world/1846939/thre...
3,3.0,1/30/2020,"new confirmed COVID-19 patient in Japan: male,...",Tokyo,Japan,male,45.0,NaN,NaN,NaN,NaN,NaN,1/29/2020,1.0,0.0,0.0,0.0,NaN,Bangkok Post,https://www.bangkokpost.com/world/1846939/thre...
4,4.0,1/30/2020,new confirmed COVID-19 patient in Japan: femal...,Tokyo,Japan,female,55.0,NaN,NaN,NaN,NaN,NaN,1/29/2020,1.0,0.0,0.0,0.0,NaN,Bangkok Post,https://www.bangkokpost.com/world/1846939/thre...

In [113]:
#IncidentLog.shape

(99, 20)

In [114]:
#IncidentLog.isna().sum()

id                       15
reporting date           15
summary                  15
location                 15
country                  15
gender                   77
age                      80
symptom_onset            86
If_onset_approximated    86
hosp_visit_date          90
type_of_visit            67
exposure_start           98
exposure_end             76
visiting Wuhan           15
from Wuhan               15
death                    15
recovered                15
symptom                  92
source                   15
link                     15
dtype: int64