In [49]:
import pandas as pd
import numpy as np
import datetime 
import statistics

In [50]:
TotalCases = pd.read_csv("https://docs.google.com/spreadsheets/d/1jS24DjSPVWa4iuxuD4OAXrE3QeI8c9BC1hSlqr-NMiU/export?format=csv&gid=0")

In [51]:
LineList= pd.read_csv("https://docs.google.com/spreadsheets/d/1jS24DjSPVWa4iuxuD4OAXrE3QeI8c9BC1hSlqr-NMiU/export?format=csv&gid=1187587451")

In [52]:
ProvinceIncidence= pd.read_csv("https://docs.google.com/spreadsheets/d/1jS24DjSPVWa4iuxuD4OAXrE3QeI8c9BC1hSlqr-NMiU/export?format=csv&gid=1837322948")

In [53]:
IncidentLog = pd.read_csv("https://docs.google.com/spreadsheets/d/1jS24DjSPVWa4iuxuD4OAXrE3QeI8c9BC1hSlqr-NMiU/export?format=csv&gid=1202885709")

In [54]:
IncidentLogSecond= pd.read_csv("https://docs.google.com/spreadsheets/d/1jS24DjSPVWa4iuxuD4OAXrE3QeI8c9BC1hSlqr-NMiU/export?format=csv&gid=1180262595")

In [55]:
TotalCases.head(5)

,Province,Confirmed,Suspected,Death,Recovered,Link,Comments
0,Total,40322.0,23589.0,909.0,3471.0,http://3g.dxy.cn/newh5/view/pneumonia,NaN
1,Hubei,29631.0,NaN,NaN,NaN,NaN,NaN
2,Guangdong,1159.0,NaN,NaN,NaN,NaN,NaN
3,Zhejiang,1092.0,NaN,NaN,NaN,NaN,NaN
4,Henan,1073.0,NaN,NaN,NaN,NaN,NaN

In [56]:
LineList.head(5)

,Email,Unnamed: 1,contact.sunky@gmail.com,Unnamed: 3,Email was incorrect before,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19
0,id,case_in_country,reporting date,summary,location,country,gender,age,symptom_onset,If_onset_approximated,hosp_visit_date,exposure_start,exposure_end,visiting Wuhan,from Wuhan,death,recovered,symptom,source,link
1,1,NaN,1/20/2020,First confirmed imported COVID-19 pneumonia pa...,"Shenzhen, Guangdong",China,male,66,1/3/2020,0,1/11/2020,12/29/2019,1/4/2020,1,0,0,0,NaN,Shenzhen Municipal Health Commission,http://wjw.sz.gov.cn/wzx/202001/t20200120_1898...
2,2,NaN,1/20/2020,First confirmed imported COVID-19 pneumonia pa...,Shanghai,China,female,56,1/15/2020,0,1/15/2020,NaN,1/12/2020,0,1,0,0,NaN,Official Weibo of Shanghai Municipal Health Co...,https://www.weibo.com/2372649470/IqogQhgfa?fro...
3,3,NaN,1/21/2020,First confirmed imported cases in Zhejiang: pa...,Zhejiang,China,male,46,1/4/2020,0,1/17/2020,NaN,1/3/2020,0,1,0,0,NaN,Health Commission of Zhejiang Province,http://www.zjwjw.gov.cn/art/2020/1/21/art_1202...
4,4,NaN,1/21/2020,new confirmed imported COVID-19 pneumonia in T...,Tianjin,China,female,60,NaN,NaN,1/19/2020,NaN,NaN,1,0,0,0,NaN,人民日报官方微博,https://m.weibo.cn/status/4463235401268457?

In [57]:
# Dropping columns 
LineList.head(5)
LineList.drop(columns=["Email","Unnamed: 3","Email was incorrect before","Unnamed: 18","Unnamed: 19"] ,axis=1, inplace=True)

In [58]:
LineList.head(5)

,Unnamed: 1,contact.sunky@gmail.com,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17
0,case_in_country,reporting date,country,gender,age,symptom_onset,If_onset_approximated,hosp_visit_date,exposure_start,exposure_end,visiting Wuhan,from Wuhan,death,recovered,symptom
1,NaN,1/20/2020,China,male,66,1/3/2020,0,1/11/2020,12/29/2019,1/4/2020,1,0,0,0,NaN
2,NaN,1/20/2020,China,female,56,1/15/2020,0,1/15/2020,NaN,1/12/2020,0,1,0,0,NaN
3,NaN,1/21/2020,China,male,46,1/4/2020,0,1/17/2020,NaN,1/3/2020,0,1,0,0,NaN
4,NaN,1/21/2020,China,female,60,NaN,NaN,1/19/2020,NaN,NaN,1,0,0,0,NaN

In [59]:
# Renaming columns

In [60]:
LineList = LineList.rename(columns={"Unamed: 1": "Case In Country","Unnamed: 5": "Country","contact.sunky@gmail.com": "reporting date","Email was incorrect before": "location","Unnamed: 5": "country","Unnamed: 6":"gender", "Unnamed: 7":"age","Unnamed: 8": "symptom_onset", "Unnamed: 9":"If_onset_approximated","Unnamed: 10": "hosp_visit_date","Unnamed: 11":"exposure_start","Unnamed: 12": "exposure_end", "Unnamed: 13":"visiting Wuhan","Unnamed: 14":"from Wuhan","Unnamed: 15": "death","Unnamed: 16": "recovered","Unnamed: 17": "sympton"})

In [61]:
LineList.head(5)

,Unnamed: 1,reporting date,country,gender,age,symptom_onset,If_onset_approximated,hosp_visit_date,exposure_start,exposure_end,visiting Wuhan,from Wuhan,death,recovered,sympton
0,case_in_country,reporting date,country,gender,age,symptom_onset,If_onset_approximated,hosp_visit_date,exposure_start,exposure_end,visiting Wuhan,from Wuhan,death,recovered,symptom
1,NaN,1/20/2020,China,male,66,1/3/2020,0,1/11/2020,12/29/2019,1/4/2020,1,0,0,0,NaN
2,NaN,1/20/2020,China,female,56,1/15/2020,0,1/15/2020,NaN,1/12/2020,0,1,0,0,NaN
3,NaN,1/21/2020,China,male,46,1/4/2020,0,1/17/2020,NaN,1/3/2020,0,1,0,0,NaN
4,NaN,1/21/2020,China,female,60,NaN,NaN,1/19/2020,NaN,NaN,1,0,0,0,NaN

In [62]:
LineList.drop(0, inplace = True)

In [63]:
LineList.head(5)

,Unnamed: 1,reporting date,country,gender,age,symptom_onset,If_onset_approximated,hosp_visit_date,exposure_start,exposure_end,visiting Wuhan,from Wuhan,death,recovered,sympton
1,NaN,1/20/2020,China,male,66,1/3/2020,0,1/11/2020,12/29/2019,1/4/2020,1,0,0,0,NaN
2,NaN,1/20/2020,China,female,56,1/15/2020,0,1/15/2020,NaN,1/12/2020,0,1,0,0,NaN
3,NaN,1/21/2020,China,male,46,1/4/2020,0,1/17/2020,NaN,1/3/2020,0,1,0,0,NaN
4,NaN,1/21/2020,China,female,60,NaN,NaN,1/19/2020,NaN,NaN,1,0,0,0,NaN
5,NaN,1/21/2020,China,male,58,NaN,NaN,1/14/2020,NaN,NaN,0,0,0,0,NaN

In [64]:
#Converting fields to dates
#LineList['reporting date']= pd.to_datetime(LineList['reporting date'])
LineList[['reporting date','symptom_onset','hosp_visit_date','exposure_start','exposure_end']] = LineList[['reporting date','symptom_onset','hosp_visit_date','exposure_start','exposure_end']].apply(pd.to_datetime)

In [65]:
LineList.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 932 entries, 1 to 932
Data columns (total 15 columns):
Unnamed: 1               735 non-null object
reporting date           931 non-null datetime64[ns]
country                  932 non-null object
gender                   797 non-null object
age                      753 non-null object
symptom_onset            508 non-null datetime64[ns]
If_onset_approximated    505 non-null object
hosp_visit_date          456 non-null datetime64[ns]
exposure_start           115 non-null datetime64[ns]
exposure_end             324 non-null datetime64[ns]
visiting Wuhan           932 non-null object
from Wuhan               928 non-null object
death                    932 non-null object
recovered                932 non-null object
sympton                  218 non-null object
dtypes: datetime64[ns](5), object(10)
memory usage: 116.5+ KB

In [66]:
LineList.head()

,Unnamed: 1,reporting date,country,gender,age,symptom_onset,If_onset_approximated,hosp_visit_date,exposure_start,exposure_end,visiting Wuhan,from Wuhan,death,recovered,sympton
1,NaN,2020-01-20,China,male,66,2020-01-03,0,2020-01-11,2019-12-29,2020-01-04,1,0,0,0,NaN
2,NaN,2020-01-20,China,female,56,2020-01-15,0,2020-01-15,NaT,2020-01-12,0,1,0,0,NaN
3,NaN,2020-01-21,China,male,46,2020-01-04,0,2020-01-17,NaT,2020-01-03,0,1,0,0,NaN
4,NaN,2020-01-21,China,female,60,NaT,NaN,2020-01-19,NaT,NaT,1,0,0,0,NaN
5,NaN,2020-01-21,China,male,58,NaT,NaN,2020-01-14,NaT,NaT,0,0,0,0,NaN

In [67]:
LineList.shape

(932, 15)

In [68]:
LineList.isna().sum()

Unnamed: 1               197
reporting date             1
country                    0
gender                   135
age                      179
symptom_onset            424
If_onset_approximated    427
hosp_visit_date          476
exposure_start           817
exposure_end             608
visiting Wuhan             0
from Wuhan                 4
death                      0
recovered                  0
sympton                  714
dtype: int64

In [69]:
LineList.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 932 entries, 1 to 932
Data columns (total 15 columns):
Unnamed: 1               735 non-null object
reporting date           931 non-null datetime64[ns]
country                  932 non-null object
gender                   797 non-null object
age                      753 non-null object
symptom_onset            508 non-null datetime64[ns]
If_onset_approximated    505 non-null object
hosp_visit_date          456 non-null datetime64[ns]
exposure_start           115 non-null datetime64[ns]
exposure_end             324 non-null datetime64[ns]
visiting Wuhan           932 non-null object
from Wuhan               928 non-null object
death                    932 non-null object
recovered                932 non-null object
sympton                  218 non-null object
dtypes: datetime64[ns](5), object(10)
memory usage: 116.5+ KB

In [70]:
LineList.head(5)

,Unnamed: 1,reporting date,country,gender,age,symptom_onset,If_onset_approximated,hosp_visit_date,exposure_start,exposure_end,visiting Wuhan,from Wuhan,death,recovered,sympton
1,NaN,2020-01-20,China,male,66,2020-01-03,0,2020-01-11,2019-12-29,2020-01-04,1,0,0,0,NaN
2,NaN,2020-01-20,China,female,56,2020-01-15,0,2020-01-15,NaT,2020-01-12,0,1,0,0,NaN
3,NaN,2020-01-21,China,male,46,2020-01-04,0,2020-01-17,NaT,2020-01-03,0,1,0,0,NaN
4,NaN,2020-01-21,China,female,60,NaT,NaN,2020-01-19,NaT,NaT,1,0,0,0,NaN
5,NaN,2020-01-21,China,male,58,NaT,NaN,2020-01-14,NaT,NaT,0,0,0,0,NaN

In [71]:
LineListComplete= LineList.dropna()
symptondf= LineList[LineList['sympton'].notnull()]

In [72]:
#DF with no missing days. 
DaysComplete =LineList[LineList['hosp_visit_date'].notnull() & LineList['exposure_start'].notnull() & LineList['exposure_end'].notnull() ]

In [73]:
DaysComplete

,Unnamed: 1,reporting date,country,gender,age,symptom_onset,If_onset_approximated,hosp_visit_date,exposure_start,exposure_end,visiting Wuhan,from Wuhan,death,recovered,sympton
1,NaN,2020-01-20,China,male,66,2020-01-03,0,2020-01-11,2019-12-29,2020-01-04,1,0,0,0,NaN
8,NaN,2020-01-21,China,male,37,2020-01-14,0,2020-01-20,2020-01-10,2020-01-11,1,0,0,0,NaN
9,NaN,2020-01-21,China,male,39,2020-01-09,0,2020-01-14,2020-01-03,2020-01-04,1,0,0,0,NaN
10,NaN,2020-01-21,China,male,56,2020-01-16,0,2020-01-20,2020-01-08,2020-01-16,1,0,0,0,NaN
11,NaN,2020-01-21,China,female,18,2020-01-19,0,2020-01-20,2020-01-12,2020-01-17,1,0,0,0,NaN
12,NaN,2020-01-21,China,female,32,2020-01-15,0,2020-01-20,2020-01-13,2020-01-17,1,0,0,0,NaN
23,NaN,2020-01-22,China,male,NaN,2020-01-19,0,2020-01-20,2020-01-12,2020-01-15,1,0,0,0,NaN
36,NaN,2020-01-22,China,male,45,2020-01-19,0,2020-01-21,2020-01-11,2020-01-14,1,0,0,0,NaN
72,NaN,2020-01-22,China,female,50,2020-01-14,0,2020-01-22,2020-01-10,2020-01-12,0,0,0,0,NaN
73,NaN,2020-01-23,China,male,43,2020-01-18,0,2020-01-21,2020-01-11,2020-01-17,0,0,0,0,NaN
75,NaN,2020-01-23,China,male,42,2020-01-20,0,2020-01-21,2020-01-12,2020-01-15,1,0,0,0,NaN
76,NaN,2020-01-23,China,female,32,2020-01-16,0,2020-01-20,2020-01-12,2020-01-14,1,0,0,0,NaN
77,NaN,2020-01-23,China,male,22,2020-01-20,0,2020-01-21,2020-01-15,2020-01-17,1,0,0,0,NaN
97,NaN,2020-01-24,China,female,39,NaT,NaN,2020-01-22,2019-12-17,2020-01-15,1,0,0,0,NaN
125,NaN,2020-01-24,China,male,29,2020-01-23,0,2020-01-24,2020-01-19,2020-01-22,1,0,0,0,NaN
127,NaN,2020-01-25,China,male,30,2020-01-24,0,2020-01-24,2020-01-18,2020-01-20,1,0,0,0,NaN
132,NaN,2020-01-25,China,male,41,2020-01-14,0,2020-01-23,2020-01-06,2020-01-07,1,0,0,0,NaN
137,NaN,2020-01-25,China,male,28,2020-01-20,0,2020-01-23,2020-01-09,2020-01-22,1,0,0,0,NaN
145,NaN,2020-01-25,China,male,58,NaT,NaN,2020-01-24,2020-01-09,2020-01-20,1,0,0,0,NaN
146,NaN,2020-01-21,China,male,NaN,2020-01-16,0,2020-01-20,2020-01-08,2020-01-16,1,0,0,0,NaN
147,NaN,2020-01-21,China,male,NaN,2020-01-14,0,2020-01-20,2020-01-10,2020-01-11,1,0,0,0,NaN
148,NaN,2020-01-25,China,male,NaN,2020-01-18,0,2020-01-20,2020-01-14,2020-01-14,0,0,0,0,NaN
150,NaN,2020-01-25,China,male,33,2020-01-22,0,2020-01-24,2020-01-11,2020-01-22,1,0,0,0,NaN
159,NaN,2020-01-25,China,male,44,2020-01-18,0,2020-01-24,2020-01-20,2020-01-21,1,0,0,0,NaN
162,NaN,2020-01-25,China,female,32,2020-01-17,0,2020-01-22,2020-01-12,2020-01-14,0,0,0,0,NaN
178,NaN,2020-01-26,China,male,NaN,2020-01-25,0,2020-01-25,2020-01-19,2020-01-19,1,0,0,0,NaN
182,NaN,2020-01-26,China,male,38,NaT,NaN,2020-01-23,2020-01-03,2020-01-05,1,0,0,0,NaN
185,NaN,2020-01-27,China,male,50,2020-01-18,0,2020-01-22,2020-01-13,2020-01-17,1,0,0,0,NaN
186,NaN,2020-01-27,China,female,40,2020-01-18,0,2020-01-22,2020-01-13,2020-01-17,1,0,0,0,NaN
189,NaN,2020-01-27,China,female,42,2020-01-23,0,2020-01-24,2020-01-19,2020-01-19,1,0,0,0,NaN
220,6,2020-01-28,Japan,male,65,2020-01-14,0,2020-01-17,2020-01-08,2020-01-16,0,0,0,0,"cough, chills, joint pain"
222,8,2020-01-29,Japan,female,45,2020-01-20,0,2020-01-20,2020-01-12,2020-01-17,0,0,0,0,"fever, cough"
224,10,2020-01-30,Japan,male,55,2020-01-25,0,2020-01-27,2019-12-24,2020-01-13,1,0,0,0,fever
225,11,2020-01-30,Japan,female,35,2020-01-24,0,2020-01-24,2020-01-19,2020-01-20,1,0,0,0,"fever, cough"
226,12,2020-01-30,Japan,female,25,2020-01-23,0,2020-01-28,2020-01-17,2020-01-18,1,0,0,0,fever
227,13,2020-01-31,Japan,female,25,2020-01-20,0,2020-01-29,2020-01-17,2020-01-22,1,0,0,0,NaN
232,18,2020-02-04,Japan,female,55,2020-01-31,0,2020-01-31,2020-01-19,2020-01-19,1,0,0,0,"fever, cough"
371,9,2020-02-04,Malaysia,male,41,NaT,NaN,2020-01-29,2020-01-16,2020-01-23,0,0,0,2/17/2020,NaN
404,19,2020-02-04,Singapore,female,28,2020-01-29,0,2020-02-03,2020-01-23,2020-01-23,0,0,0,2/22/2020,"fever, sore throat"
405,20,2020-02-04,Singapore,female,48,2020-01-25,0,2020-02-03,2020-01-23,2020-01-23,0,0,0,0,NaN
413,28,2020-02-05,Singapore,male,45,2020-02-01,0,2020-02-02,2020-01-23,2020-02-03,0,0,0,2/22/2020,NaN
415,30,2020-02-06,Singapore,male,27,2020-01-21,0,2020-01-28,2020-01-20,2020-01-22,0,0,0,2/14/2020,NaN
421,36,2020-02-08,Singapore,female,38,2020-01-24,0,2020-02-01,2020-01-20,2020-01-22,0,0,0,2/11/2020,NaN
424,39,2020-02-08,Singapore,male,51,2020-01-29,0,2020-02-03,2020-01-20,2020-01-22,0,0,0,2/16/2020,NaN
495,17,2020-02-05,South Korea,male,37,2020-01-26,0,2020-02-04,2020-01-18,2020-01-23,0,0,0,0,NaN
595,4,2020-01-27,Taiwan,female,50,2020-01-22,0,2020-01-25,2020-01-13,2020-01-15,1,0,0,0,cough
623,32,2020-02-26,Taiwan,female,35,NaT,NaN,2020-02-24,2020-02-11,2020-02-16,0,0,0,0,throat discomfort
756,2,2020-01-22,Hong Kong,male,56,2020-01-18,0,2020-01-19,2020-01-10,2020-01-19,1,0,0,0,NaN
765,11,2020-01-30,Hong Kong,female,37,2020-01-28,0,2020-01-30,2020-01-22,2020-01-28,0,0,0,0,cough
767,13,2020-01-31,Hong Kong,male,39,2020-01-31,0,2020-01-31,2020-01-21,2020-01-23,1,0,1,0,"myalgia, fever"
768,14,2020-02-02,Hong Kong,male,80,2020-01-19,0,2020-01-30,2020-01-10,2020-01-10,0,0,0,0,fever
769,15,2020-02-02,Hong Kong,female,72,2020-02-01,0,2020-02-01,2020-01-23,2020-01-31,0,0,0,0,"fever, cough"
780,26,2020-02-07,Hong Kong,male,42,2020-02-03,0,2020-02-03,2020-01-22,2020-02-02,0,0,0,0,"fever, cough"
791,37,2020-02-10,Hong Kong,female,55,2020-01-30,0,2020-01-30,2020-01-26,2020-01-26,0,0,0,0,NaN
792,38,2020-02-10,Hong Kong,male,52,2020-02-08,0,2020-02-09,2020-01-26,2020-01-26,0,0,0,0,NaN
805,51,2020-02-13,Hong Kong,male,43,2020-01-29,0,2020-01-31,2020-01-30,2020-01-30,0,0,0,0,"cough, diarrhea, vomiting"
806,52,2020-02-13,Hong Kong,female,67,2020-01-31,0,2020-01-31,2020-01-26,2020-01-26,0,0,0,0,"cough, fever, chills"
807,53,2020-02-13,Hong Kong,male,37,2020-02-08,0,2020-02-09,2020-01-26,2020-01-26,0,0,0,0,fever
826,71,2020-02-23,Hong Kong,male,68,2020-02-20,0,2020-02-22,2020-01-25,2020-02-20,0,0,0,0,NaN
870,5,2020-02-25,Spain,female,36,NaT,NaN,2020-02-24,2020-02-12,2020-02-22,0,0,0,0,NaN

In [ ]:
#Data Frame to use
symptondf

In [ ]:
symptondf.shape

In [ ]:
symptondf.isna().sum()

In [ ]:
LineListComplete

In [ ]:
LineListComplete.shape

In [ ]:
# Getting days values from dates
# Using DF with no missing values and DF with no missing dates, for comparison. 
statistics.median(LineListComplete['hosp_visit_date'] - LineListComplete['exposure_start']).days

In [ ]:
statistics.median(DaysComplete['hosp_visit_date'] - DaysComplete['exposure_start']).days

In [ ]:
statistics.median(LineListComplete['reporting date'] - LineListComplete['hosp_visit_date']).days

In [ ]:
statistics.median(DaysComplete['reporting date'] -DaysComplete['hosp_visit_date']).days

In [ ]:
statistics.median(LineListComplete['reporting date'] - LineListComplete['exposure_end']).days

In [ ]:
statistics.median(DaysComplete['reporting date'] - DaysComplete['exposure_end']).days

In [ ]:
statistics.median(LineListComplete['exposure_end']- LineListComplete['exposure_start']).days

In [ ]:
statistics.median(DaysComplete['exposure_end']- DaysComplete['exposure_start']).days

In [33]:
ProvinceIncidence.head(5)

         Pro  province   new  cumu
0  1/10/2020     Hubei  41.0  41.0
1  1/16/2020     Hubei   4.0  45.0
2  1/17/2020     Hubei  17.0  62.0
3  1/17/2020  Zhejiang   5.0   5.0
4  1/18/2020     Hubei  59.0   NaN

In [34]:
IncidentLog.head(5)

,id,reporting date,summary,location,country,gender,age,symptom_onset,If_onset_approximated,hosp_visit_date,type_of_visit,exposure_start,exposure_end,visiting Wuhan,from Wuhan,death,recovered,symptom,source,link
0,0.0,1/28/2020,"new confirmed COVID-19 patient in Paris, Franc...",Paris,France,male,80.0,1/25/2020,1.0,1/25/2020,hospital,NaN,1/23/2020,0.0,1.0,0.0,0.0,NaN,The Local,https://www.thelocal.de/20200128/number-of-ger...
1,1.0,1/29/2020,"new confirmed COVID-19 patient in Paris, Franc...",Paris,France,female,NaN,NaN,NaN,NaN,hospital,NaN,1/23/2020,1.0,0.0,0.0,0.0,NaN,The Local,https://www.thelocal.fr/20200131/coronavirus-i...
2,2.0,1/30/2020,"new confirmed COVID-19 patient in Japan: male,...",Tokyo,Japan,male,45.0,NaN,NaN,NaN,NaN,NaN,1/29/2020,1.0,0.0,0.0,0.0,"throat pain, fever",Bangkok Post,https://www.bangkokpost.com/world/1846939/thre...
3,3.0,1/30/2020,"new confirmed COVID-19 patient in Japan: male,...",Tokyo,Japan,male,45.0,NaN,NaN,NaN,NaN,NaN,1/29/2020,1.0,0.0,0.0,0.0,NaN,Bangkok Post,https://www.bangkokpost.com/world/1846939/thre...
4,4.0,1/30/2020,new confirmed COVID-19 patient in Japan: femal...,Tokyo,Japan,female,55.0,NaN,NaN,NaN,NaN,NaN,1/29/2020,1.0,0.0,0.0,0.0,NaN,Bangkok Post,https://www.bangkokpost.com/world/1846939/thre...

In [38]:
IncidentLogSecond.head()

,id,reporting date,summary,location,country,gender,age,symptom_onset,If_onset_approximated,hosp_visit_date,type_of_visit,exposure_start,exposure_end,visiting Wuhan,from Wuhan,death,recovered,symptom,source,link
0,NaN,02/02/2020,NaN,Beijing,China,female,42,1/30/2020,0,1/30/2020,NaN,NaN,NaN,NaN,NaN,0,0,NaN,Beijing Municipal Health Commission,http://wjw.beijing.gov.cn/xwzx_20031/wnxw/2020...
1,NaN,02/02/2020,NaN,Beijing,China,male,20,1/30/2020,0,1/31/2020,NaN,NaN,NaN,NaN,NaN,0,0,NaN,Beijing Municipal Health Commission,http://wjw.beijing.gov.cn/xwzx_20031/wnxw/2020...
2,NaN,02/02/2020,NaN,Beijing,China,female,44,1/31/2020,0,2/1/2020,NaN,NaN,NaN,NaN,NaN,0,0,NaN,Beijing Municipal Health Commission,http://wjw.beijing.gov.cn/xwzx_20031/wnxw/2020...
3,NaN,02/02/2020,NaN,Beijing,China,male,75,1/27/2020,0,1/31/2020,NaN,NaN,NaN,NaN,NaN,0,0,NaN,Beijing Municipal Health Commission,http://wjw.beijing.gov.cn/xwzx_20031/wnxw/2020...
4,NaN,02/02/2020,NaN,Beijing,China,female,43,1/30/2020,0,1/31/2020,NaN,NaN,NaN,NaN,NaN,0,0,NaN,Beijing Municipal Health Commission,http://wjw.beijing.gov.cn/xwzx_20031/wnxw/2020...

In [35]:
#IncidentLogSecond.shape

In [36]:
#IncidentLogSecond.isna().sum()

In [37]:
#IncidentLog.head()

In [39]:
#IncidentLog.shape

In [40]:
#IncidentLog.isna().sum()