In [365]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib as mpl

In [366]:
NetflixDF = pd.read_csv('netflix_titles.csv')

In [367]:
NetflixDF.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,81145628,Movie,Norm of the North: King Sized Adventure,"Richard Finn, Tim Maltby","Alan Marriott, Andrew Toth, Brian Dobson, Cole...","United States, India, South Korea, China","September 9, 2019",2019,TV-PG,90 min,"Children & Family Movies, Comedies",Before planning an awesome wedding for his gra...
1,80117401,Movie,Jandino: Whatever it Takes,NaN,Jandino Asporaat,United Kingdom,"September 9, 2016",2016,TV-MA,94 min,Stand-Up Comedy,Jandino Asporaat riffs on the challenges of ra...
2,70234439,TV Show,Transformers Prime,NaN,"Peter Cullen, Sumalee Montano, Frank Welker, J...",United States,"September 8, 2018",2013,TV-Y7-FV,1 Season,Kids' TV,"With the help of three human allies, the Autob..."
3,80058654,TV Show,Transformers: Robots in Disguise,NaN,"Will Friedle, Darren Criss, Constance Zimmer, ...",United States,"September 8, 2018",2016,TV-Y7,1 Season,Kids' TV,When a prison ship crash unleashes hundreds of...
4,80125979,Movie,#realityhigh,Fernando Lebrija,"Nesta Cooper, Kate Walsh, John Michael Higgins...",United States,"September 8, 2017",2017,TV-14,99 min,Comedies,When nerdy high schooler Dani finally attracts...

In [368]:
NetflixDF.shape

(6234, 12)

In [369]:
NetflixDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6234 entries, 0 to 6233
Data columns (total 12 columns):
show_id         6234 non-null int64
type            6234 non-null object
title           6234 non-null object
director        4265 non-null object
cast            5664 non-null object
country         5758 non-null object
date_added      6223 non-null object
release_year    6234 non-null int64
rating          6224 non-null object
duration        6234 non-null object
listed_in       6234 non-null object
description     6234 non-null object
dtypes: int64(2), object(10)
memory usage: 584.5+ KB

In [370]:
NetflixDF.describe()

            show_id  release_year
count  6.234000e+03    6234.00000
mean   7.670368e+07    2013.35932
std    1.094296e+07       8.81162
min    2.477470e+05    1925.00000
25%    8.003580e+07    2013.00000
50%    8.016337e+07    2016.00000
75%    8.024489e+07    2018.00000
max    8.123573e+07    2020.00000

In [371]:
NetflixDF.isna().sum()

show_id            0
type               0
title              0
director        1969
cast             570
country          476
date_added        11
release_year       0
rating            10
duration           0
listed_in          0
description        0
dtype: int64

In [ ]:
# Create a movie and a tv show dataframe

In [372]:
NetflixMovies = netflixDF[netflixDF['type'] == 'Movie']

In [373]:
NetflixMovies.shape

(4265, 12)

In [374]:
NetflixMovies.describe()

            show_id  release_year
count  4.265000e+03   4265.000000
mean   7.562096e+07   2012.354279
std    1.287630e+07      9.735306
min    2.477470e+05   1942.000000
25%    7.030419e+07   2012.000000
50%    8.015858e+07   2016.000000
75%    8.099157e+07   2017.000000
max    8.123573e+07   2020.000000

In [375]:
NetflixMovies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4265 entries, 0 to 6231
Data columns (total 12 columns):
show_id         4265 non-null int64
type            4265 non-null object
title           4265 non-null object
director        4137 non-null object
cast            3905 non-null object
country         4070 non-null object
date_added      4264 non-null object
release_year    4265 non-null int64
rating          4257 non-null object
duration        4265 non-null object
listed_in       4265 non-null object
description     4265 non-null object
dtypes: int64(2), object(10)
memory usage: 433.2+ KB

In [376]:
NetflixMovies.isna().sum()

show_id           0
type              0
title             0
director        128
cast            360
country         195
date_added        1
release_year      0
rating            8
duration          0
listed_in         0
description       0
dtype: int64

In [377]:
NetflixMovies.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,81145628,Movie,Norm of the North: King Sized Adventure,"Richard Finn, Tim Maltby","Alan Marriott, Andrew Toth, Brian Dobson, Cole...","United States, India, South Korea, China","September 9, 2019",2019,TV-PG,90 min,"Children & Family Movies, Comedies",Before planning an awesome wedding for his gra...
1,80117401,Movie,Jandino: Whatever it Takes,NaN,Jandino Asporaat,United Kingdom,"September 9, 2016",2016,TV-MA,94 min,Stand-Up Comedy,Jandino Asporaat riffs on the challenges of ra...
4,80125979,Movie,#realityhigh,Fernando Lebrija,"Nesta Cooper, Kate Walsh, John Michael Higgins...",United States,"September 8, 2017",2017,TV-14,99 min,Comedies,When nerdy high schooler Dani finally attracts...
6,70304989,Movie,Automata,Gabe Ibáñez,"Antonio Banderas, Dylan McDermott, Melanie Gri...","Bulgaria, United States, Spain, Canada","September 8, 2017",2014,R,110 min,"International Movies, Sci-Fi & Fantasy, Thrillers","In a dystopian future, an insurance adjuster f..."
7,80164077,Movie,Fabrizio Copano: Solo pienso en mi,"Rodrigo Toro, Francisco Schultz",Fabrizio Copano,Chile,"September 8, 2017",2017,TV-MA,60 min,Stand-Up Comedy,Fabrizio Copano takes audience participation t...

In [378]:
# removed nulls from movies dataframe
NetflixMovies= NetflixMovies.dropna()

In [379]:
NetflixMovies.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,81145628,Movie,Norm of the North: King Sized Adventure,"Richard Finn, Tim Maltby","Alan Marriott, Andrew Toth, Brian Dobson, Cole...","United States, India, South Korea, China","September 9, 2019",2019,TV-PG,90 min,"Children & Family Movies, Comedies",Before planning an awesome wedding for his gra...
4,80125979,Movie,#realityhigh,Fernando Lebrija,"Nesta Cooper, Kate Walsh, John Michael Higgins...",United States,"September 8, 2017",2017,TV-14,99 min,Comedies,When nerdy high schooler Dani finally attracts...
6,70304989,Movie,Automata,Gabe Ibáñez,"Antonio Banderas, Dylan McDermott, Melanie Gri...","Bulgaria, United States, Spain, Canada","September 8, 2017",2014,R,110 min,"International Movies, Sci-Fi & Fantasy, Thrillers","In a dystopian future, an insurance adjuster f..."
7,80164077,Movie,Fabrizio Copano: Solo pienso en mi,"Rodrigo Toro, Francisco Schultz",Fabrizio Copano,Chile,"September 8, 2017",2017,TV-MA,60 min,Stand-Up Comedy,Fabrizio Copano takes audience participation t...
9,70304990,Movie,Good People,Henrik Ruben Genz,"James Franco, Kate Hudson, Tom Wilkinson, Omar...","United States, United Kingdom, Denmark, Sweden","September 8, 2017",2014,R,90 min,"Action & Adventure, Thrillers",A struggling couple can't believe their luck w...

In [380]:
NetflixMovies.shape

(3678, 12)

In [381]:
# Converted dates to date time
NetflixMovies['date_added'] =NetflixMovies['date_added'].apply(pd.to_datetime)
# NetflixMovies['duration'] = NetflixMovies['duration'].apply(str.strip(' min'))
NetflixMovies['release_year']=NetflixMovies['release_year'].apply(pd.to_numeric)
#NetflixMovies[['release_year','dur']].apply(pd.to_datetime)
#NetflixMovies['duration'].apply( lambda x: str.strip('min'))

In [391]:
# REemoved 'Min' from duration and converted to numeric value 
NetflixMovies['duration']=NetflixMovies['duration'].apply( lambda x: NetflixMovies['duration'].str.strip('min') )
NetflixMovies['duration']=NetflixMovies['duration'].apply(pd.to_numeric)

In [392]:
NetflixMovies.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,81145628,Movie,Norm of the North: King Sized Adventure,"Richard Finn, Tim Maltby","Alan Marriott, Andrew Toth, Brian Dobson, Cole...","United States, India, South Korea, China",2019-09-09,2019,TV-PG,90,"Children & Family Movies, Comedies",Before planning an awesome wedding for his gra...
4,80125979,Movie,#realityhigh,Fernando Lebrija,"Nesta Cooper, Kate Walsh, John Michael Higgins...",United States,2017-09-08,2017,TV-14,90,Comedies,When nerdy high schooler Dani finally attracts...
6,70304989,Movie,Automata,Gabe Ibáñez,"Antonio Banderas, Dylan McDermott, Melanie Gri...","Bulgaria, United States, Spain, Canada",2017-09-08,2014,R,90,"International Movies, Sci-Fi & Fantasy, Thrillers","In a dystopian future, an insurance adjuster f..."
7,80164077,Movie,Fabrizio Copano: Solo pienso en mi,"Rodrigo Toro, Francisco Schultz",Fabrizio Copano,Chile,2017-09-08,2017,TV-MA,90,Stand-Up Comedy,Fabrizio Copano takes audience participation t...
9,70304990,Movie,Good People,Henrik Ruben Genz,"James Franco, Kate Hudson, Tom Wilkinson, Omar...","United States, United Kingdom, Denmark, Sweden",2017-09-08,2014,R,90,"Action & Adventure, Thrillers",A struggling couple can't believe their luck w...

In [393]:
NetflixMovies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3678 entries, 0 to 5580
Data columns (total 12 columns):
show_id         3678 non-null int64
type            3678 non-null object
title           3678 non-null object
director        3678 non-null object
cast            3678 non-null object
country         3678 non-null object
date_added      3678 non-null datetime64[ns]
release_year    3678 non-null int64
rating          3678 non-null object
duration        3678 non-null int64
listed_in       3678 non-null object
description     3678 non-null object
dtypes: datetime64[ns](1), int64(3), object(8)
memory usage: 533.5+ KB

In [ ]:
##  TV SHOWS ##

In [25]:
NetflixShows= netflixDF[netflixDF['type'] == 'TV Show']

In [28]:
NetflixShows.shape

(1969, 12)

In [32]:
NetflixShows.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1969 entries, 2 to 6233
Data columns (total 12 columns):
show_id         1969 non-null int64
type            1969 non-null object
title           1969 non-null object
director        128 non-null object
cast            1759 non-null object
country         1688 non-null object
date_added      1959 non-null object
release_year    1969 non-null int64
rating          1967 non-null object
duration        1969 non-null object
listed_in       1969 non-null object
description     1969 non-null object
dtypes: int64(2), object(10)
memory usage: 280.0+ KB

In [35]:
NetflixShows.describe()

            show_id  release_year
count  1.969000e+03   1969.000000
mean   7.904892e+07   2015.536313
std    3.462549e+06      5.799568
min    6.003679e+07   1925.000000
25%    8.009178e+07   2015.000000
50%    8.017572e+07   2017.000000
75%    8.023986e+07   2018.000000
max    8.123560e+07   2020.000000

In [29]:
NetflixShows.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
2,70234439,TV Show,Transformers Prime,NaN,"Peter Cullen, Sumalee Montano, Frank Welker, J...",United States,"September 8, 2018",2013,TV-Y7-FV,1 Season,Kids' TV,"With the help of three human allies, the Autob..."
3,80058654,TV Show,Transformers: Robots in Disguise,NaN,"Will Friedle, Darren Criss, Constance Zimmer, ...",United States,"September 8, 2018",2016,TV-Y7,1 Season,Kids' TV,When a prison ship crash unleashes hundreds of...
5,80163890,TV Show,Apaches,NaN,"Alberto Ammann, Eloy Azorín, Verónica Echegui,...",Spain,"September 8, 2017",2016,TV-MA,1 Season,"Crime TV Shows, International TV Shows, Spanis...",A young journalist is forced into a life of cr...
8,80117902,TV Show,Fire Chasers,NaN,NaN,United States,"September 8, 2017",2017,TV-MA,1 Season,"Docuseries, Science & Nature TV","As California's 2016 fire season rages, brave ..."
26,80244601,TV Show,Castle of Stars,NaN,"Chaiyapol Pupart, Jintanutda Lummakanon, Worra...",NaN,"September 7, 2018",2015,TV-14,1 Season,"International TV Shows, Romantic TV Shows, TV ...",As four couples with different lifestyles go t...

In [38]:
NetflixShows.isna().sum()

show_id            0
type               0
title              0
director        1841
cast             210
country          281
date_added        10
release_year       0
rating             2
duration           0
listed_in          0
description        0
dtype: int64